@font-face {
  font-family: "Mountains of Christmas", serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=MountainsofChristmas");
}

@font-face {
  font-family: "Mountains of Christmas", serif;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("https://fonts.googleapis.com/css2?family=MountainsofChristmas");
}

:root {
  font-family: "Mountains of Christmas", serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --red: #ee2e31;
  --beige: #f4c095;
  --green-base: #1d7874;
  --green-dark: #071e22;
  --green-light: #679289;
}

body {
  background-color: var(--green-light);
}

.text-xmas {
  font-family: "Mountains of Christmas", serif;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(4, 1fr);
}

.day {
  font-family: "Mountains of Christmas";
  font-weight: bold;
  font-size: 4rem;
  color: var(--beige);
  border: 5px var(--green-dark) solid;
  background-color: var(--red);
  border-radius: 8px;
  padding: 1rem;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.day:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.day.available:hover {
  border-color: var(--green-base);
}

dialog {
  width: 80vw;
  height: 80vh;
  padding: 3rem;
  border-radius: 2rem;
  border: 2px var(--green-dark) solid;
  opacity: 1;
  transition: all ease-out 0.4s;
  position: relative;

  @starting-style {
    opacity: 0;
  }
}

dialog::backdrop {
  background-color: var(--green-dark);
  opacity: 0.5;
  transition: all ease-out 0.4s;

  @starting-style {
    opacity: 0;
  }
}

.slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  height: 100%;
  display: flex;
  gap: 2rem;
  flex-direction: row;
  position: relative;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: auto;
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.slides::-webkit-scrollbar-thumb {
  visibility: hidden;
}

.slides::-webkit-scrollbar-track {
  background: transparent;
}

.slide {
  width: 100%;
  height: 100%;
  scroll-snap-align: start;
  flex-shrink: 0;
  border-radius: 1rem;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
}

.slides img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 2rem;
  pointer-events: none;
}

.slider .nav {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: transparent;
  color: var(--green-light);
  border-radius: 100%;
  border: none;
  font-size: 3rem;
  z-index: 100;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all 0.2s;
  visibility: inherit;
  opacity: 1;
}

.slider .nav.hidden {
  visibility: hidden;
  opacity: 0;
}

.slider .nav:hover {
  color: var(--green-base);
}

.slider .nav svg {
  width: 6rem;
  height: 6rem;
}

.next {
  right: 0;
}

.prev {
  left: 0;
}

.next svg {
  transform: rotate(180deg);
}

button.close {
  position: absolute;
  border: none;
  background: none;
  z-index: 100;
  right: 1.5rem;
  top: 1.5rem;
  cursor: pointer;
  color: var(--green-dark);
  transition: color 0.3s;
  padding: 0;
}

button.close:hover {
  color: var(--green-base);
}

button.close svg {
  width: 3rem;
  height: 3rem;
}
